<div class="contenedor-componente-nuevo-producto">
  <app-menu></app-menu>
  <div class="contenido-nuevo-producto">
    <h1 class="titulo-componente">Administrar productos</h1>
    <div class="formulario-nuevo-producto">
      <form #formProducto="ngForm" (ngSubmit)="insertarProducto(formProducto)">
        <input type="hidden" name="$id" #$id="ngModel" [(ngModel)]="productoServices.nuevoProducto.$id">
        <div class="form-group">
          <label for="nombre">
            Nombre:
          </label>
          <input id="nombre" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="productoServices.nuevoProducto.nombre">
        </div>
        <div class="form-group">
          <label for="categoria">
            Categoría
          </label>
          <select id="categoria" name="categoria" #categoria="ngModel" [(ngModel)]="productoServices.nuevoProducto.categoria">
            <option value="" disabled [selected]="productoServices.nuevoProducto.categoria == 'back'">Categoría</option>
            <option value="{{ categoria.nombre }}" *ngFor="let categoria of listaCategorias">{{ categoria.nombre }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tienda">
            Tienda
          </label>
          <select id="tienda" name="tienda" #tienda="ngModel" [(ngModel)]="productoServices.nuevoProducto.tienda">
            <option value="" default disabled style="display:none;">Tienda</option>
            <option value="{{ tienda.nombre }}" *ngFor="let tienda of listaTiendas">{{ tienda.nombre }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="precio">
            Precio:
          </label>
          <input id="precio" type="text" name="precio" #precio="ngModel" [(ngModel)]="productoServices.nuevoProducto.precio">
        </div>
        <input type="submit" value="Guardar">
        <button (click)="resetForm(formProducto)">Cancelar</button>
      </form>
    </div>
    <div class="componente-listar-productos">
      <app-listar-productos></app-listar-productos>
    </div>
  </div>
</div>