<div class="contenedor-componente-productos">
  <app-menu></app-menu>
  <div class="contenedor-principal-productos">
    <h1 class="titulo-general-tienda">Tu tienda Online</h1>
    <div class="categorias">
      <ul>
        <li *ngFor="let categoria of listaCategorias;let i = index;" (click)="activo(categoria.nombre)" [ngClass]="{'li-activo':bandera==categoria.nombre}">{{categoria.nombre}}</li>
      </ul>
    </div>
    <div class="muestreo-productos">
      <div class="categoria-producto">
        <div *ngFor="let producto of listaProductosCategoria;let i = index;">
          <div class="padre-producto" *ngIf="producto.categoria==bandera">
            <p class="nombre-producto">{{producto.nombre}}</p>
            <div class="imagen-producto" (click)="onSelect(i)">
              <div class="padre-plus"></div>
              <i class="fas fa-plus-circle"></i>
            </div>
            <div class="contenido-descripcion">
              <div class="nombre-tienda">{{producto.tienda}}</div>
              <div class="precio-compra">
                <div class="precio">${{producto.precio}}</div>
                <div class="compra">Comprar</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>