<div class="contenedor-componente-login">
  <h1>Tu tienda online</h1>
  <form #loginForm="ngForm" class="formulario-principal" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="userService.nuevoUsuario.email">
      </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="text" id="password" name="password" #password="ngModel" [(ngModel)]="userService.nuevoUsuario.password">
    </div>
    <div class="form-group botonera">
        <button class="btn btn-cancelar" type="reset" (click)="resetForm(loginForm)">Cancelar</button>
      <input type="submit" class="btn btn-aceptar" value="Aceptar">
    </div>
  </form>
  <p [routerLink]="['/productos']" style="cursor:pointer;">Ingresar sin iniciar sesión</p>
</div>