<div class="contenedor-componente-login">
  <h1>Tu tienda online</h1>
  <form #loginForm="ngForm" class="formulario-principal" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="usuario">Usuario</label>
      <input type="text" id="usuario" name="usuario" #nombre="ngModel" [(ngModel)]="userService.nuevoUsuario.nombre">
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="text" id="password" name="password" #password="ngModel" [(ngModel)]="userService.nuevoUsuario.password">
    </div>
    <div class="form-group botonera">
        <button class="btn btn-cancelar" type="reset" (click)="resetForm(loginForm)">Cancelar</button>
      <input type="submit" class="btn btn-aceptar" value="Aceptar">
    </div>
  </form>
</div>