<div class="menu">
    <p><a [routerLink]="['/productos']">Productos</a></p>
    <p><a [routerLink]="['/tiendas']" *ngIf="rol=='admin'">Tiendas</a></p>
    <p><a [routerLink]="['/categorias']" *ngIf="rol=='admin'">Categorías</a></p>
    <p><a [routerLink]="['/nuevo-producto']" *ngIf="rol=='admin'">Nuevo Producto</a></p>
    <p><a [routerLink]="['/registro']" *ngIf="!isLogin">Registro</a></p>
    <p><a [routerLink]="['/actualizar-perfil']" *ngIf="isLogin">Actualizar perfil</a></p>
    <p><a [routerLink]="['/login']" *ngIf="!isLogin">Iniciar sesión</a></p>
    <p><a [routerLink]="['/login']" (click)="logOut()" *ngIf="isLogin">Salir</a></p>
    <p></p>
</div>